In [1]:
## Merging and joining DaFrames
# create sample DataFrame

import pandas as pd

df1 = pd.DataFrame({'Key':['A','B','C'], 'Value1':[1,2,3]})
df2 = pd.DataFrame({'Key':['A','B','D'], 'Value1':[4,5,6]})

In [2]:
df1

  Key  Value1
0   A       1
1   B       2
2   C       3

In [3]:
df2

  Key  Value1
0   A       4
1   B       5
2   D       6

In [6]:
## Merge Dataframe on the "Key columns"

pd.merge(df1,df2,on="Key",how="inner")

  Key  Value1_x  Value1_y
0   A         1         4
1   B         2         5

In [7]:
pd.merge(df1,df2,on="Key",how='outer')

  Key  Value1_x  Value1_y
0   A       1.0       4.0
1   B       2.0       5.0
2   C       3.0       NaN
3   D       NaN       6.0

In [8]:
pd.merge(df1,df2,on="Key",how="left")

  Key  Value1_x  Value1_y
0   A         1       4.0
1   B         2       5.0
2   C         3       NaN

In [9]:
pd.merge(df1,df2,on="Key",how="right")

  Key  Value1_x  Value1_y
0   A       1.0         4
1   B       2.0         5
2   D       NaN         6