### Reading Data From Different Source

In [2]:
import pandas as pd
from io import StringIO

Data = '{"Employee_name":"James", "Email":"James@gmail.com", "job_profile":[{"title1":"Team Lead","title2":"Sr. Developer"}]}'
df = pd.read_json(StringIO(Data))

In [3]:
df

,Employee_name,Email,job_profile
0,James,James@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [4]:
## Converted into json

df.to_json()

'{"Employee_name":{"0":"James"},"Email":{"0":"James@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [ ]:
df.to_json(orient='index')  ## index is bydefault

'{"0":{"Employee_name":"James","Email":"James@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [6]:
df.to_json(orient='records')

'[{"Employee_name":"James","Email":"James@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [8]:
!pip install lxml

Collecting lxml
  Downloading lxml-6.0.0-cp310-cp310-win_amd64.whl.metadata (6.8 kB)
Downloading lxml-6.0.0-cp310-cp310-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/4.0 MB 441.3 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 441.3 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/4.0 MB 441.3 kB/s eta 0:00:08
   ------- -------------------------------- 0.8/4.0 MB 435.5 kB/s eta 0:00:08
   ------- -------------------------------- 0.8/4.0 MB 435.5 kB/s eta 0:00:08
   ------- -------------------------------- 0.8/4.0 MB 435.5 kB/s eta 0:00:08
   ---------- ----------------------------- 1.0/4.0 MB 422.8 kB/s eta 0:00:07
   ---------- ----------------------------- 1.0/4.0 MB 422.8 kB/s eta 0:00:07
   ------------- -------------------------- 1.3/4.0 MB 447.3 kB/s eta 0:00:06
   ------------- -------------------------- 1.3/4.0 MB 447.3 kB/s eta 0:00:06
   ------------- -------------------------- 1.3/4.0 MB 447.3 kB/s eta 0:00:06
   ------------- -------------------------- 1.3/4.0 MB 447.3 kB/s eta 0:00:06
   --------------- ------------------------ 1.6/4.0 MB 403.3 kB/s eta 0:00:07
   --------------- ------------------------ 1.6/4.0 MB 403.3 kB/s eta 0:00:07
   --------------- ------------------------ 1.6/4.0 MB 403.3 kB/s eta 0:00:07
   --------------- ------------------------ 1.6/4.0 MB 403.3 kB/s eta 0:00:07
   ------------------ --------------------- 1.8/4.0 MB 391.6 kB/s eta 0:00:06
   ------------------ --------------------- 1.8/4.0 MB 391.6 kB/s eta 0:00:06
   ------------------ --------------------- 1.8/4.0 MB 391.6 kB/s eta 0:00:06
   --------------------- ------------------ 2.1/4.0 MB 395.4 kB/s eta 0:00:05
   --------------------- ------------------ 2.1/4.0 MB 395.4 kB/s eta 0:00:05
   --------------------- ------------------ 2.1/4.0 MB 395.4 kB/s eta 0:00:05
   ----------------------- ---------------- 2.4/4.0 MB 404.2 kB/s eta 0:00:05
   ----------------------- ---------------- 2.4/4.0 MB 404.2 kB/s eta 0:00:05
   -------------------------- ------------- 2.6/4.0 MB 407.0 kB/s eta 0:00:04
   -------------------------- ------------- 2.6/4.0 MB 407.0 kB/s eta 0:00:04
   -------------------------- ------------- 2.6/4.0 MB 407.0 kB/s eta 0:00:04
   -------------------------- ------------- 2.6/4.0 MB 407.0 kB/s eta 0:00:04
   ---------------------------- ----------- 2.9/4.0 MB 405.2 kB/s eta 0:00:03
   ---------------------------- ----------- 2.9/4.0 MB 405.2 kB/s eta 0:00:03
   ---------------------------- ----------- 2.9/4.0 MB 405.2 kB/s eta 0:00:03
   ------------------------------- -------- 3.1/4.0 MB 405.6 kB/s eta 0:00:03
   ------------------------------- -------- 3.1/4.0 MB 405.6 kB/s eta 0:00:03
   ------------------------------- -------- 3.1/4.0 MB 405.6 kB/s eta 0:00:03
   ---------------------------------- ----- 3.4/4.0 MB 403.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.4/4.0 MB 403.5 kB/s eta 0:00:02
   ---------------------------------- ----- 3.4/4.0 MB 403.5 kB/s eta 0:00:02
   ------------------------------------ --- 3.7/4.0 MB 403.1 kB/s eta 0:00:01
   ------------------------------------ --- 3.7/4.0 MB 403.1 kB/s eta 0:00:01
   ------------------------------------ --- 3.7/4.0 MB 403.1 kB/s eta 0:00:01
   ---------------------------------------  3.9/4.0 MB 405.7 kB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 406.8 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.0

In [11]:
url = "https://www.fdic.gov/bank-failures/failed-bank-list"

df = pd.read_html(url)
df

[                               Bank Name           City         State   Cert  \
 0           The Santa Anna National Bank     Santa Anna         Texas   5520
 1                   Pulaski Savings Bank        Chicago      Illinois  28611
 2     The First National Bank of Lindsay        Lindsay      Oklahoma   4134
 3  Republic First Bank dba Republic Bank   Philadelphia  Pennsylvania  27332
 4                          Citizens Bank       Sac City          Iowa   8758
 5               Heartland Tri-State Bank        Elkhart        Kansas  25851
 6                    First Republic Bank  San Francisco    California  59017
 7                         Signature Bank       New York      New York  57053
 8                    Silicon Valley Bank    Santa Clara    California  24735
 9                      Almena State Bank         Almena        Kansas  15426

                  Acquiring Institution      Closing Date  Fund  Sort ascending
 0            Coleman County State Bank     June 27, 2025                 10549
 1                      Millennium Bank  January 17, 2025                 10548
 2   First Bank & Trust Co., Duncan, OK  October 18, 2024                 10547
 3    Fulton Bank, National Association    April 26, 2024                 10546
 4            Iowa Trust & Savings Bank  November 3, 2023                 10545
 5               Dream First Bank, N.A.     July 28, 2023                 10544
 6            JPMorgan Chase Bank, N.A.       May 1, 2023                 10543
 7                  Flagstar Bank, N.A.    March 12, 2023                 10540
 8  First Citizens Bank & Trust Company    March 10, 2023                 10539
 9                          Equity Bank  October 23, 2020                 10538  ]

In [12]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538

In [17]:
url ="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"

df = pd.read_html(url)[0]

In [18]:
df

     ISO 3166[1] name[5]                       Official state name[6][a]  \
     ISO 3166[1] name[5]                       Official state name[6][a]
0            Afghanistan          the Islamic Republic of Afghanistan[b]
1          Åland Islands                                     Åland[c][d]
2                Albania                         the Republic of Albania
3                Algeria     the People's Democratic Republic of Algeria
4         American Samoa                               American Samoa[c]
..                   ...                                             ...
266    Wallis and Futuna  the Territory of the Wallis and Futuna Islands
267  Western Sahara [an]      the Sahrawi Arab Democratic Republic[c][d]
268                Yemen                           the Republic of Yemen
269               Zambia                          the Republic of Zambia
270             Zimbabwe                        the Republic of Zimbabwe

    Sovereignty [6][7][8] ISO 3166-1[2]                   \
    Sovereignty [6][7][8]       A-2 [5] A-3 [5] Num. [5]
0               UN member            AF     AFG      004
1                 Finland            AX     ALA      248
2               UN member            AL     ALB      008
3               UN member            DZ     DZA      012
4           United States            AS     ASM      016
..                    ...           ...     ...      ...
266                France            WF     WLF      876
267         Disputed [ao]            EH     ESH      732
268             UN member            YE     YEM      887
269             UN member            ZM     ZMB      894
270             UN member            ZW     ZWE      716

    ISO 3166-2[3] subdivision codes link TLD [9]
    ISO 3166-2[3] subdivision codes link TLD [9]
0                          ISO 3166-2:AF     .af
1                          ISO 3166-2:AX     .ax
2                          ISO 3166-2:AL     .al
3                          ISO 3166-2:DZ     .dz
4                          ISO 3166-2:AS     .as
..                                   ...     ...
266                        ISO 3166-2:WF     .wf
267                        ISO 3166-2:EH    [ap]
268                        ISO 3166-2:YE     .ye
269                        ISO 3166-2:ZM     .zm
270                        ISO 3166-2:ZW     .zw

[271 rows x 8 columns]

In [19]:
df.to_pickle("Country_code")

In [20]:
pd.read_pickle('Country_code')

     ISO 3166[1] name[5]                       Official state name[6][a]  \
     ISO 3166[1] name[5]                       Official state name[6][a]
0            Afghanistan          the Islamic Republic of Afghanistan[b]
1          Åland Islands                                     Åland[c][d]
2                Albania                         the Republic of Albania
3                Algeria     the People's Democratic Republic of Algeria
4         American Samoa                               American Samoa[c]
..                   ...                                             ...
266    Wallis and Futuna  the Territory of the Wallis and Futuna Islands
267  Western Sahara [an]      the Sahrawi Arab Democratic Republic[c][d]
268                Yemen                           the Republic of Yemen
269               Zambia                          the Republic of Zambia
270             Zimbabwe                        the Republic of Zimbabwe

    Sovereignty [6][7][8] ISO 3166-1[2]                   \
    Sovereignty [6][7][8]       A-2 [5] A-3 [5] Num. [5]
0               UN member            AF     AFG      004
1                 Finland            AX     ALA      248
2               UN member            AL     ALB      008
3               UN member            DZ     DZA      012
4           United States            AS     ASM      016
..                    ...           ...     ...      ...
266                France            WF     WLF      876
267         Disputed [ao]            EH     ESH      732
268             UN member            YE     YEM      887
269             UN member            ZM     ZMB      894
270             UN member            ZW     ZWE      716

    ISO 3166-2[3] subdivision codes link TLD [9]
    ISO 3166-2[3] subdivision codes link TLD [9]
0                          ISO 3166-2:AF     .af
1                          ISO 3166-2:AX     .ax
2                          ISO 3166-2:AL     .al
3                          ISO 3166-2:DZ     .dz
4                          ISO 3166-2:AS     .as
..                                   ...     ...
266                        ISO 3166-2:WF     .wf
267                        ISO 3166-2:EH    [ap]
268                        ISO 3166-2:YE     .ye
269                        ISO 3166-2:ZM     .zm
270                        ISO 3166-2:ZW     .zw

[271 rows x 8 columns]