In [ ]:
def square(x):
    return x*x

numbers =[1,2,3,4,5]
list(map(lambda x:x**2, numbers))  # Using lambda function with map
list(map(square, numbers)) # using map define the function

[1, 4, 9, 16, 25]

In [5]:
num1 = [1,2,3]
num2 = [4,5,6]

added_num = list(map(lambda x,y:x+y,num1,num2))
print(added_num)

[5, 7, 9]

In [1]:
# Map to convert a list of string to integers
# use map to convert string to integers

str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int,str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [2]:
words = ['apple','banana','cherry']
upper_word = list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [5]:
def get_name(person):
    return person['name']

people = [
    {'name' : 'Krish','age':32},
    {'name':'Xitij','age':21}
]

list(map(get_name,people))

['Krish', 'Xitij']

In [2]:
## Use map() to square all elements in a list.
lst = [1,2,3,4,5,6,7,8,9,10]

squre_num = list(map(lambda x:x**2, lst))
print(squre_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
## Use map() with lambda to convert list of strings to uppercase.
str1 = ['apple','banana','orange']

str_upper = list(map (str.upper, str1))
print(str_upper)

['APPLE', 'BANANA', 'ORANGE']

In [2]:
lst1 = [1,2,3,4,5,6,7,8,9,10]

str_int = list(map(str,lst1))
print(str_int)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [4]:
## Apply map() to calculate cube of all numbers in a list.
cube_lst = list(map(lambda x:x**3, lst1))
print(cube_lst)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]