In [2]:
## Creating a tuple

empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [3]:
numbers =tuple([1,2,3,4,5])
print(numbers)

(1, 2, 3, 4, 5)

In [4]:
mixed_tuple = (1,"Xitij",3.14,True)
print(mixed_tuple)

(1, 'Xitij', 3.14, True)

In [5]:
print(numbers[2])
print(numbers[-1])

3
5

In [7]:
numbers[0:4]
numbers[::-1]

(5, 4, 3, 2, 1)

In [8]:
## Tuples Operations

Concatination_tuples = numbers + mixed_tuple
print(Concatination_tuples)

(1, 2, 3, 4, 5, 1, 'Xitij', 3.14, True)

In [9]:
mixed_tuple *3

(1, 'Xitij', 3.14, True, 1, 'Xitij', 3.14, True, 1, 'Xitij', 3.14, True)

In [10]:
## Immutable nuture of tuples
## Tuple are immutable, meaning elements can not be changed once assigned.

numbers[1] = "xitij"

TypeError: 'tuple' object does not support item assignment

In [11]:
## Tuple methods
numbers

(1, 2, 3, 4, 5)

In [13]:
print(numbers.count(1))
print(numbers.index(3))

1
2

In [14]:
## Paccking and unpacking tuples

packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [15]:
## unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [16]:
## Unpacking with *

numbers = [1,2,3,4,5,6]
first,*middel,last = numbers
print(first)
print(middel)
print(last)

1
[2, 3, 4, 5]
6

In [20]:
## Nsted tuples
## Nested tuples

lst = [[1,2,3,4,5],[1,"heloo",3.14,"xitij"]]
print(lst)
print(lst[0][2])

[[1, 2, 3, 4, 5], [1, 'heloo', 3.14, 'xitij']]
3

In [25]:
tup = ((1,2,3,4,5),(1,"Heloo",3.24,True),('a','b','c','d'))
print(tup)
print(tup[1])
print(tup[1][1])

((1, 2, 3, 4, 5), (1, 'Heloo', 3.24, True), ('a', 'b', 'c', 'd'))
(1, 'Heloo', 3.24, True)
Heloo

In [28]:
## Itreting 

for sub_tuple in tup:
    for item in sub_tuple:
        print(item,end=" ")

1 2 3 4 5 1 Heloo 3.24 True a b c d