In [5]:
## Create a set


my_set ={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [8]:
elm_set = set([1,2,3,4,2,5,6,2,7,8,5,9,10])
print(elm_set)
print(type(elm_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [10]:
## Basic Sets Operation
## Adding and removing Elements

my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [11]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [12]:
my_set.remove(11)
print(my_set)

KeyError: 11

In [13]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 7}

In [14]:
## Pop method

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [15]:
## Cleare all element
my_set.clear()
print(my_set)

set()

In [ ]:
## Set Membrship test

my_set = {1,2,3,4,5}
print(3 in my_set)  # getting true
print(10 in my_set) # getting false

True
False

In [ ]:
## MAthamatical operations

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9,10}

## Union
union_set = set1.union(set2)
print(union_set)

## Intersection
intersecction_set = set1.intersection(set2)  ## give only common elements
print(intersecction_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6}

In [21]:
set1.intersection_update(set2) ## give the comon element and update in set1
print(set1)

{4, 5, 6}

In [27]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## Difference

print(set1.difference(set2))

print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [29]:
## Symetric Difference

set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6}

In [32]:
## Set MEthod
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [34]:
## Counting Unique words in the list

text = "In this tutorial we are discussing about sets"
words = text.split()

unique_Word = set(words)
print(unique_Word)
print(len(unique_Word))

{'about', 'we', 'tutorial', 'In', 'are', 'sets', 'discussing', 'this'}
8